/*! HTML5 Boilerplate v9.0.1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

#login_square {
  position: absolute;
  top: 250px;
  left: 540px;
  width: 800px;
  height: 400px;
  background: #13187d;
}

#backdrop_for_login {
  position: absolute;
  top:245px;
  left:535px;
  width: 810px;
  height: 410px;
  background:#36d6ae;
}

#login_inputs{
  position: absolute;
  font-size: 35px;
  left:630px;
  bottom: 400px;
  color: white;
}

.text_boxes{

  font-size: 30px;
  width: 400px;

}

#login_button{
  position: absolute;
  left: 580px;
  bottom: -110px;
  font-size: 20px;
  height: 50px;
  width: 110px;
}
/* taking gracefully from https://medium.com/@jensaxena/css-tutorial-animated-geometric-galaxy-background-ad3835c36ce1
I thought it looked really nice */
body{
  background: radial-gradient(circle at bottom, navy 0, black 100%);
  height: 100vh;
  overflow: hidden;
}

#logo{
  position: absolute;
  left: 680px;
  top: -80px;
  width: 700px;
  height: auto;
}

.space {
  background: rgba(128, 0, 128, 0.1) center / 200px 200px round;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.stars1 {
  animation: space 180s ease-in-out infinite;
  background-image:
    radial-gradient(
      1px 1px at 25px 5px,
      white,
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      1px 1px at 50px 25px,
      white,
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      1px 1px at 125px 20px,
      white,
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      1.5px 1.5px at 50px 75px,
      white,
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      2px 2px at 15px 125px,
      white,
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      2.5px 2.5px at 110px 80px,
      white,
      rgba(255, 255, 255, 0)
    );
}

.stars2 {
  animation: space 240s ease-in-out infinite;
  background-image: radial-gradient(
    1px 1px at 75px 125px,
    white,
    rgba(255, 255, 255, 0)
  ),
  radial-gradient(
    1px 1px at 100px 75px,
    white,
    rgba(255, 255, 255, 0)
  ),
  radial-gradient(
    1.5px 1.5px at 199px 100px,
    white,
    rgba(255, 255, 255, 0)
  ),
  radial-gradient(
    2px 2px at 20px 50px,
    white,
    rgba(255, 255, 255, 0)
  ),
  radial-gradient(
    2.5px 2.5px at 100px 5px,
    white,
    rgba(255, 255, 255, 0)
  ),
  radial-gradient(
    2.5px 2.5px at 5px 5px,
    white,
    rgba(255, 255, 255, 0)
  );
}

.stars3 {
  animation: space 300s ease-in-out infinite;
  background-image:
    radial-gradient(
      1px 1px at 10px 10px,
      white,
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      1px 1px at 150px 150px,
      white,
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      1.5px 1.5px at 60px 170px,
      white,
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      1.5px 1.5px at 175px 180px,
      white,
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      2px 2px at 195px 95px,
      white,
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      2.5px 2.5px at 95px 145px,
      white,
      rgba(255, 255, 255, 0)
    );
}

.stars4 {
  animation: space 400s ease-in-out infinite;
  background-image:
    radial-gradient(
      1px 1px at 25px 5px,
      white,
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      1px 1px at 50px 25px,
      white,
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      1px 1px at 125px 20px,
      white,
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      1.5px 1.5px at 50px 75px,
      white,
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      2px 2px at 15px 125px,
      white,
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      2.5px 2.5px at 110px 80px,
      white,
      rgba(255, 255, 255, 0)
    );
}
.stars5 {
  animation: space 600s ease-in-out infinite;
  background-image:
    radial-gradient(
      1px 1px at 10px 10px,
      white,
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      1px 1px at 150px 150px,
      white,
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      1.5px 1.5px at 60px 170px,
      white,
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      1.5px 1.5px at 175px 180px,
      white,
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      2px 2px at 195px 95px,
      white,
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      2.5px 2.5px at 95px 145px,
      white,
      rgba(255, 255, 255, 0)
    );
}

@keyframes space {
  40% {
    opacity: 0.75;
  }
  50% {
    opacity: 0.25;
  }
  60% {
    opacity: 0.75;
  }
  100% {
    transform: rotate(360deg);
  }
}
